.profile {
  display: flex;
}
.profile-img {
  display: flex;
  width: 15.5rem;
  height: 15.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(184, 177, 177);
  margin: 3rem;
}
.profile-img img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.profile-desc {
  margin: 3rem;
  height: 15rem;
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  margin-left: 3rem;
}
.profile-link .icon {
  color: rgb(46, 45, 45);
  margin-right: 5px;
}
.profile-link a {
  color: rgb(46, 45, 45);
  margin-left: 5px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
}
